[run]
branch = True
concurrency = greenlet
data_file = .artifacts/coverage/data_file.db
omit = \
	.artifacts/
	.git/
	.github/
	.idea/
	.vscode/
	app_booklist/models.py
	app_booklist/apps.py
	app_booklist/admin.py
relative_files = True
source = app_booklist

[report]
exclude_lines = 
	@(abc\.)?abstractmethod
	class .*\bProtocol\):
	def __repr__
	if .*\.MODE_DEBUG
	if 0:
	if __name__ == .__main__.:
	pragma: no cover
	raise AssertionError
	raise NotImplementedError
fail_under = 100
show_missing = True
skip_covered = False
skip_empty = True
sort = -Cover

[html]
directory = .artifacts/coverage/html/
skip_covered = False
skip_empty = True
title = coverage

[xml]
output = .artifacts/coverage/report.xml
